<?xml version="1.0" encoding="utf-8"?>
<!--
	/**************************************************************************\
	* Simple Groupware 0.743                                                   *
	* http://www.simple-groupware.de                                           *
	* Copyright (C) 2002-2012 by Thomas Bley                                   *
	* ------------------------------------------------------------------------ *
	*  This program is free software; you can redistribute it and/or           *
	*  modify it under the terms of the GNU General Public License Version 2   *
	*  as published by the Free Software Foundation; only version 2            *
	*  of the License, no later version.                                       *
	*                                                                          *
	*  This program is distributed in the hope that it will be useful,         *
	*  but WITHOUT ANY WARRANTY; without even the implied warranty of          *
	*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the            *
	*  GNU General Public License for more details.                            *
	*                                                                          *
	*  You should have received a copy of the GNU General Public License       *
	*  Version 2 along with this program; if not, write to the Free Software   *
	*  Foundation, Inc., 59 Temple Place - Suite 330, Boston,                  *
	*  MA  02111-1307, USA.                                                    *
	\**************************************************************************/
-->
<table modulename="{t}Events{/t}" default_view="display" orderby="created" limit="20" order="desc" enable_purgeall="true" enable_purge="true" disable_history="true" enable_calendar="created" nosqlfolder="true">
  <view name="display" displayname="{t}All events{/t}">
  </view>
  <view name="details" displayname="{t}Details{/t}" tfield_1="message">
  </view>
  <view name="error" displayname="{t}Error{/t}" where="(component like '%-fail')" template="display">
  </view>
  <view name="slow" displayname="{t}Slow{/t}" where="(component like '%-slow')" template="display">
  </view>
  <view name="info" displayname="{t}Info{/t}" where="(component='purge' or component='info' or component='quota')" template="display">
  </view>
  <view name="logins" displayname="{t}Logins{/t}" where="component='login'" template="display">
  </view>
  <view name="clean" displayname="{t}Clean{/t}" where="component='clean'" template="display">
  </view>
  
  <field name="id" simple_type="id" displayname="{t}Id{/t}" nowrap="true">
  </field>
  <field name="created" simple_type="datetime" displayname="{t}Created{/t}">
    <filter views="all" function="shortdatetimeformat"/>
  </field>
  <field name="servername" displayname="{t}Server{/t}" simple_type="text">
  </field>
  <field name="serverip" displayname="{t}Server-IP{/t}" simple_type="text">
  	<notin views="display" />
  </field>
  <field name="username" displayname="{t}Username{/t}" simple_type="text">
  </field>
  <field name="component" displayname="{t}Component{/t}" simple_type="text" nowrap="true">
    <INDEX/>
  </field>
  <field name="message" displayname="{t}Message{/t}" simple_type="textarea" width="100%">
    <linktext views="display|error|slow|info|logins|clean" value="#index.php?view=details&amp;iframe=1&amp;item[]=@id@"/>
  </field>
  <field name="message_trace" displayname="{t}Trace{/t}" simple_type="htmlarea" no_search_index="true">
  	<filter views="all" function="highlight_string" />
  	<onlyin views="details" />
  </field>
</table>